<!-- reporter/templates/reporter/partials/incident_table.html -->
<table>
    <caption>Incident Reports</caption>
    <thead>
        <tr>           
            <th>Date & Time</th>
            <th>Type</th>
            <th>Severity</th>
            <th>Location</th>
            <th>Resident</th>
            <th>Description</th>
            <th>Actions Taken</th>
            <th>Reporter</th>
            <th>Reported to Manager</th>
            <th>Created on</th>
        </tr>
    </thead>
    <tbody id="incident-rows">
        {% include 'reporter/partials/incident_rows.html' %}
    </tbody>    
</table>

