<!-- reporter/templates/reporter/partials/incident_table.html -->
<table>
    <caption>Incident Reports</caption>
    <thead>
        <tr>           
            <th>Date & Time</th>
            <th>Type</th>
            <th>Severity</th>
            <th>Location</th>
            <th>Resident</th>
            <th>Description</th>
            <th>Actions Taken</th>
            <th>Reporter</th>
            <th>Reported to Manager</th>
            <th>Created on</th>
        </tr>
    </thead>
    <tbody id="incident-rows">
        {% include 'reporter/partials/incident_rows.html' %}
    </tbody>
</table>

<!-- Load More Button -->
<div id="load-more-wrapper" hx-swap-oob="true">
  {% if has_more %}
    <button id="load-more-btn"
            hx-get="{% url 'load_more_incidents' %}?offset={{ next_offset }}"
            hx-target="#incident-rows"
            hx-swap="afterend">
      Load More
    </button>
  {% endif %}
</div>
