<!-- reporter/templates/reporter/list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Incident Reporter</title>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script src="https://unpkg.com/alpinejs" defer></script>
</head>
<body>
    <header>
        <h1>Incident Reporter</h1>
        <p>Helping staff stay informed, residents stay safe.</p>
    </header>
    <section>
         <!-- Incident Form -->
        <form hx-post="{% url 'add_incident' %}" hx-target="#incident-table" hx-swap="outerHTML">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit">Submit Incident</button>
        </form>
    </section>

    <section>
        <!-- Incident Table -->    
        <div id="incident-table">
            {% include 'reporter/partials/incident_table.html' %}    
        </div>
    </section>
    <footer>
        <small>Helping staff stay informed, residents stay safe.</small> </br>
        <small>Built with ❤️ by Camilla Wan</small>
    </footer>

</body>
</html>